<!DOCTYPE html>
<html data-layout-decorate="~{layout}">
<head>
    <title data-th-text="${ad.title}">Tytuł ogłoszenia</title>
</head>
<body>

    <div data-layout-fragment="content">

        <h1 style="text-align: center;" data-th-text="${ad.title}">Tytuł</h1>

        <h3 data-th-if="${message != null}">
            <em style="color: red;" data-th-text="${message}"></em>
        </h3>

        <div data-th-if="${#lists.size(ad.images) > 0}" class="carousel">
            <a data-th-each="img : ${ad.images}"
               href="#"
               class="carousel-item">

                <img src="#" data-th-src="@{/zdjecie/{url}(url=${img.fileUrl})}" class="materialboxed white" width="200">

            </a>
        </div>

        <div data-th-utext="${ad.htmlContent}">Treść ogłoszenia</div>
        <div data-th-text="${ad.date}">Data stworzenia ogłoszenia</div>
        <div data-th-text="${ad.userName}">Użytkownik</div>

        <br>

        <div data-th-if="${canDelete}">
            <a data-th-href="@{/usun/{id}(id=${ad.id})}">
                <button class="btn red darken-2 white-text">Usuń ogłoszenie</button>
            </a>
        </div>

        <div class="row">
            <form action="#" data-th-action="@{/zglos-naduzycie}" method="post" class="col m8">
                <input type="hidden" name="advertisementId" data-th-value="${ad.id}">
                <div class="input-field inline">
                    <input id="description" type="text" name="description">
                    <label for="description">Opis Nadużycia</label>
                </div>
                <input type="submit" class="btn red" style="display: inline-block; margin-left: 1em;" value="Zgłoś nadużycie">
            </form>
        </div>

    </div>


</body>
</html>