<!DOCTYPE html>
<html data-layout-decorate="~{layout}">
<head>
    <title data-th-text="${ad.title}">Tytuł ogłoszenia</title>
</head>
<body>

    <div data-layout-fragment="content">

        <h1 data-th-text="${ad.title}">Tytuł</h1>

        <h3 data-th-if="${message != null}">
            <em style="color: red;" data-th-text="${message}"></em>
        </h3>

        <div class="carousel">
            <a data-th-each="img : ${ad.images}"
               href="#"
               class="carousel-item">

                <img src="#" data-th-src="@{/zdjecie/{url}(url=${img.fileUrl})}" class="materialboxed black" width="200">

            </a>
        </div>

        <div data-th-utext="${ad.htmlContent}">Treść ogłoszenia</div>
        <div data-th-text="${ad.date}">Data stworzenia ogłoszenia</div>
        <div data-th-text="${ad.userName}">Użytkownik</div>

        <br>

        <div data-th-if="${canDelete}">
            <a data-th-href="@{/usun/{id}(id=${ad.id})}">
                <button class="btn red darken-2 white-text">Usuń ogłoszenie</button>
            </a>
        </div>

        <div style="padding: 1em; margin: 1em; margin-top: 5em;">
            <div data-th-if="${!canDelete}">
                <form action="#" data-th-action="@{/zglos-naduzycie}" method="post">
                    <h4>Zgłoś nadużycie: <input type="text" placeholder="Opis nadużycia..." name="description" class="left"/></h4>
                    <input type="hidden" name="advertisementId" data-th-value="${ad.id}">
                    <p><input type="submit" class="btn left" value="Zgłoś"></p>
                </form>
            </div>
        </div>
    </div>


</body>
</html>