<!DOCTYPE html>
<html data-layout-decorate="~{layout}">
<head>
    <title data-th-text="${categoryName}">Kategoria</title>
</head>
<body>

    <div data-layout-fragment="content">

        <h1>Kategoria ogłoszeń: <span data-th-text="${categoryName}">Kategoria</span> </h1>

        <div class="collection">
            <a data-th-each="ad : ${ads}"
               data-th-href="@{/ogloszenie/{id}(id=${ad.id})}"
               class="collection-item" href="#">
                [[${ad.title}]]
                <span class="badge blue lighten-5">Opublikowano: [[${ad.date}]]</span>
            </a>
        </div>

        <a data-th-if="${nextPage < totalPages}"
           data-th-href="@{/kategoria/{cat}?page={next}(cat=${categoryUrl},next=${nextPage})}">
            Kolejna Strona
        </a>
        <p data-th-if="${nextPage >= totalPages}">
            Znajdujesz się na ostatniej stronie
        </p>

    </div>

</body>
</html>