<!DOCTYPE html>
<html data-layout-decorate="~{layout}">
<head>
    <title>Zmiana hasła</title>
</head>
<body>

<div data-layout-fragment="content">

    <h1>Zmiana hasła</h1>
    <p data-th-if="${formError != null}">
        <em style="color: red;" data-th-text="${formError}"></em>
    </p>

    <form action="#" data-th-action="@{/rejestracja/zmiana-hasla}"
          method="post">

        <p>Stare hasło: <input type="password" name="oldPassword" /></p>
        <p>Nowe hasło: <input type="password" name="newPassword" /></p>
        <p>Potwierdź hasło: <input type="password" name="newPasswordRepeat" /></p>

        <input type="submit" value="Zmień hasło"
               class="btn blue lighten-5 black-text">

    </form>

</div>

</body>
</html>