<!DOCTYPE html>
<html data-layout-decorate="~{layout}">
<head>
    <title>Tworzenie nowego ogłoszenia</title>
</head>
<body>

    <div data-layout-fragment="content">

        <h1>Stwórz nowe ogłoszenie</h1>

        <form action="#" data-th-action="@{stworz-nowe}"
              data-th-object="${newAdvertisement}"
              method="post"
              enctype="multipart/form-data">

            <label for="images">Wybierz zdjęcia (Maksymalny rozmiar 5MB): </label>
            <input type="file"
                   id="images" data-th-field="*{images}"
                   accept="image/png, image/jpeg"
                   multiple>


            <p>Tytuł: <input type="text" data-th-field="*{title}" /></p>
            <p style="margin-bottom: 0.2rem;">Treść: (wspiera formatowanie Markdown)</p>
            <textarea
                    class="materialize-textarea"
                    placeholder="Wprowadź treść ogłoszenia" data-th-field="*{content}"></textarea>
            <br>
            <p>Kategoria:
                <select data-th-field="*{category}">
                    <option data-th-each="cat : ${T(com.gbujak.springcraigslistclone.model.AdvertisementCategory).values()}"
                        data-th-value="${cat}" data-th-text="${cat.humanReadableName}">
                    </option>
                </select>
            </p>
            <p><input type="submit" value="Opublikuj" class="btn"></p>

        </form>

    </div>

</body>
</html>