<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tablica Ogłoszeniowa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
</head>
<body>

<div class="container">

<h1>Index</h1>

<ul data-th-each="category : ${categories}">
    <li>
        <a data-th-text="${category.humanReadableName}"
           data-th-href="@{/kategoria/{category}(category=${category.name})}"
        ></a>
    </li>
</ul>

</div>

</body>
</html>