<!DOCTYPE html>
<html data-layout-decorate="~{layout}">
<head>
    <title>Strona główna</title>
</head>
<body>
    <div data-layout-fragment="content">
        <h1>Strona główna</h1>

        <h4>Kategorie ogłoszeń:</h4>
        <div class="collection">
            <a href="#" class="collection-item"
               data-th-each="category : ${categories}"
               data-th-text="${category.humanReadableName}"
               data-th-href="@{/kategoria/{category}(category=${category.name})}">
                <span class="badge">0</span>
            </a>
        </div>

    </div>
</body>
</html>