<!DOCTYPE html>
<html data-layout-decorate="~{layout}">
<head>
    <title>Rejestracja</title>
</head>
<body>

    <div data-layout-fragment="content">

        <h1>Rejestracja</h1>
        <p data-th-if="${formError != null}">
            <em style="color: red;" data-th-text="${formError}"></em>
        </p>

        <form action="#" data-th-action="@{rejestracja}"
              data-th-object="${newUser}"
              method="post">

            <p>Nazwa użytkownika: <input type="text" data-th-field="*{username}" /></p>
            <p>Hasło: <input type="password" data-th-field="*{password}" /></p>
            <p>Potwierdź hasło: <input type="password" data-th-field="*{passwordConfirm}" /></p>

            <input type="submit" value="Rejestruj"
                   class="btn blue lighten-5 black-text">

        </form>

    </div>

</body>
</html>